name: "Build the package when for push and pull to main"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install -g pnpm
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm run build
